body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: content-box;
}

.container {
    margin: 0 165px;
}

.header {
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #ff7400;
}

.cart {
    position: relative;
    border-right: 1px solid #ffffff;
    padding-right: 10px;
    height: 50px;
}

.cart img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.number a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}

.number a:hover {
    color: #ff7400;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button a {
    background-color: #ff7400;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 19px;
    font-weight: 700;
    transition: background-color 0.3s linear;
}

.button a:hover {
    background-color: #ff4d00ff;
}

.header-down {
    position: relative;
}

.header-title {
    position: absolute;
    left: 0;
    margin-top: 222px;
    font-family: 'Tinos', serif;
    color: rgba(214, 126, 53, 1);
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-bottom: 12px;
}

.header-subtitle {
    font-family: 'Tinos', serif;
    color: rgba(214, 126, 53, 1);
    font-weight: 400;
    font-size: 80px;
}

.header-subhead {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.header-subhead::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background: #ffffff;
    top: 163px;
    left: 333px;
}
.header-subhead::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background: #ffffff;
    top: 163px;
    left: 88px;
}

.header-button {
    background-color: rgba(255, 116, 0, 1);
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 28px;
    transition: background-color 0.3s linear;
}

.header-button:hover {
    background-color: #ff4d00;
}

.card-holder {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -60px;
    font-family: 'Tinos', serif;
    padding-bottom: 20px;
}

.card-image {
    padding-top: 35px;
    display: flex;
    justify-content: center;
}

.card-title {
    padding-top: 4px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 400;
}

.card-title span {
    color: #d67e35;
    margin-left: 0.2em;
}

.card-desc {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: rgba(101, 99, 99, 1);
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.history {
    margin-top: 166px;
    padding-bottom: 182px;
}

.history-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
}

.history-title span {
    color: #d67e35;
}

.history-description {
    color: #656363;
    font-size: 16px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;
}
.history-number {
    display: flex;
    justify-content: center;
    width: 444px;
    padding-top: 40px;
    margin-left: 18px;
}

.number-item {
    text-align: center;
    font-size: 40px;
    color: #bc9060;
    font-weight: 400;
    margin-right: 45px;
}

.number-item span {
    display: block;
    color: #000;
    font-size: 20px;
}

.history-pictures {
    position: relative;
}

.picture-1 {
    position: absolute;
    z-index: 999;
    top: 36px;
    left: -560px;
}

.picture-2 {
    position: absolute;
    z-index: 997;
    top: -17px;
    left: -372px;
}

.picture-3 {
    position: absolute;
    z-index: 998;
    top: 156px;
    left: -283px;
}

.picture-4 {
    position: absolute;
    z-index: 996;
    top: 24px;
    left: -284px;
}

.black-block {
    background: url('img/bg2.jpg');
    padding: 80px 0;
}

.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-title {
    color: #d67e34;
    font-size: 52px;
    font-weight: 400;
    font-family: 'Tinos', serif;
    padding-bottom: 20px;
}

.left-text {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.right-btn {
    background-color: #ff7400;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 19px;
    font-weight: 700;
    transition: background-color 0.3s linear;
}

.right-btn:hover {
    background-color: #ff4d00;
}

.dishes-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding: 132px 0;
}

.dishes-title span {
    color: #d67e34;
}

.burgers {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.burger-item {
    display: flex;
    align-items: center;
    right: 0;
    margin-bottom: 27px;
}

.burger-image {
    margin-right: 27px;
}

.burger-text {
    font-family: 'Tinos', serif;
    font-size: 26px;
    margin-left: 27px;
}

.menu {
    background-image: url(img/meny-bg.jpg);
    font-family: 'Tinos', serif;
    font-weight: 400;
    padding-top: 98px;
}

.menu-title {
    color: white;
    text-align: center;
    font-size: 54px;
}

.menu-holder {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 200px 0;
}

.menu-card {
    position: relative;
    width: 350px;
    height: 610px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.inner-card-img {
    padding-top: 80px;
    margin: 0 auto;
}

.pic-price {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-card-price {
    position: relative;
    left: 81px;
    bottom: 78px;
    width: 100px;
    height: 100px;
    background-image: url(img/price-tag.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
    font-family: 'Cookie', cursive;
}

.menu__card-title {
    font-size: 26px;
    padding-bottom: 15px;
}

.menu__card-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.menu-button {
    background-color: #ff7400;
    border: none;
    padding: 14px 68px;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s linear;
}

.menu-button:hover {
    background-color: #ff4d00;
}

.comment {
    text-align: center;
    padding: 104px;
    background-color: #e5e5e5;
}

.comment-message {
    font-style: italic;
    padding-bottom: 20px;
    font-size: 20px;
}

.comment-pic {
    padding-bottom: 17px;
}

.comment-img {
    border-radius: 50px;
}

.comment-type {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
}

.comment-name {
    font-size: 20px;
    font-weight: 400;
}

.comment-navigation {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 29px;
    justify-content: space-between;
    align-items: center;
}

.dot {
    border-radius: 50px;
    width: 5px;
    height: 5px;
    background-color: #c4c4c4;
}

.selected-dot {
    border: solid 1px #ff7400;
    background-color: #e5e5e5;
}

.gallery {
    position: relative;
}

.squares {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 222px;
}

.square {
    width: 30px;
    height: 100px;
    background-color: #ff0000;
}

.gallery {
    text-align: center;
}

.gallery-title h2 {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
}

.gallery-title span {
    color: #d67e34;
}

.img-gallery {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 30px;
}

.down-gallery {
    padding-bottom: 100px;
}

.cook-gallery {
    padding-top: 80px;
    padding-bottom: 100px;
}

footer {
    position: relative;
    background-color: black;
    width: 100%;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 1450px) {
    .img-gallery {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
    .wildest-pic {
        width: 100%;
        margin: 30px 0 30px 0;
    }
    .ordinary-pic {
        width: 47%;
    }
}

@media (max-width: 1400px) {
    .menu {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .menu-holder {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .menu-card {
        width: 100%;
    }
} ;
